:root {
    --background-color: #333;
    --navbar-background: #333;
    --title-text-color: #eee;
    --primary-text-color: #c9c9c9;
    --secondary-text-color: #a4a4a4;
    --placeholder-text-color: #777;
    --link-color: #81a2be;
    --primary-button-color: #a2be81;
    --primary-border-color: #444;
    --secondary-border-color: #444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
    font-size: 16px;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--secondary-text-color);
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
}

    .login-container input,
    .login-container .btn {
        background: none;
        border: 1px solid #666;
        border-radius: 3px;
        color: var(--primary-text-color);
        padding: 0.5rem;
        margin: 0.25rem;
        width: 100%;
    }

    .login-container input:focus,
    .login-container .btn:focus {
        outline: none;
    }

    .login-container input {
        background: none;
        border: 1px solid #666;
    }

nav.navbar {
    background-color: var(--navbar-background);
}

nav.navbar-secondary {
    background: #222;
}

nav.navbar-secondary > .container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 2rem;
}

nav.navbar > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

    nav.navbar .title > a {
        color: var(--title-text-color);
    }

    nav.navbar .logout .icon {
        color: var(--primary-text-color);
        font-size: 1rem;
        line-height: 1.5;
    }

main.dashboard {
    display: flex;
    flex: 1;
}

    main.dashboard .post-directory {
        display: flex;
        flex-direction: column;
    }

    main.dashboard .post-directory {
        width: 100%;
        margin: 1rem 0;
    }

    main.dashboard .post-directory 
    .post-preview {
        padding: 1rem 2rem;
    }

    main.dashboard .post-directory 
    .post-preview:last-child {
        border: none;
    }

    main.dashboard .post-directory 
    .post-preview .title {
        color: var(--primary-text-color);
        margin-right: 1rem;
    }

    main.dashboard .post-directory
    .post-preview small {
        color: var(--secondary-text-color);
    }

    main.dashboard .tag-directory
    .tag {
        padding: 0.5rem;
    }

main.post-detail {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
    flex: 1;
}

    main.post-detail header {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    main.post-detail header .title {
        margin-bottom: 1rem;
        color: var(--primary-text-color);
        font-weight: 400;
    }

    main.post-detail a {
        color: var(--link-color);
    }

    main.post-detail .markdown-body {
        flex: 1;
    }

main.delete-confirmation {
    padding: 2rem;
}

    main.delete-confirmation form {
        margin-top: 1rem;
    }

/* autogrow textarea */

.grow-wrap {
    display: grid;
    flex: 1;
}

    .grow-wrap::after {
        content: attr(data-replicated-value) " ";
        white-space: pre-wrap;
        visibility: hidden;
    }

    .grow-wrap > textarea {
        resize: none;
        overflow: hidden;
    }

    .grow-wrap > textarea,
    .grow-wrap::after {
        padding: 1rem;
        font: inherit;
        grid-area: 1 / 1 / 2 / 2;
        line-height: 1.5;
    }

/* post form styling */
main.new-post {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem 2rem;
    flex: 1;
}

    main.new-post .form {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    main.new-post .form textarea,
    main.new-post .form input {
        font-size: inherit;
        font-family: inherit;
        background: none;
        color: var(--secondary-text-color);
        border: none;
        padding: 1rem 0;
        width: 100%;
    }

    main.new-post .form textarea::placeholder,
    main.new-post .form input::placeholder {
        color: var(--placeholder-text-color);
    }

    main.new-post .form input:focus,
    main.new-post .form textarea:focus {
        outline: none;
    }

    main.new-post .form #id_title {
        color: var(--primary-text-color);
    }

    main.new-post .form #id_tags {
        color: var(--link-color);
    }

/* links & buttons */
.title > a,
.tag > a,
a.post-preview,
a.btn {
    text-decoration: none;
}

.btn {
    display: inline-block;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    font-size: inherit;
    font-family: inherit;
    color: var(--background-color);
}

    .btn.back,
    .btn.edit,
    .btn.delete,
    .btn.publish,
    .btn.update {
        padding: 0.25rem 1rem;
    }

    .btn.back,
    .btn.edit {
        border: 1px solid var(--primary-border-color);
        background: none;
        color: var(--primary-text-color);
    }

    .btn.delete {
        background: indianred;
        color: white;
    }

    .btn.publish,
    .btn.update {
        background: var(--primary-button-color);
    }

    .btn.new.desktop {
        display: block;
        background: var(--primary-button-color);
        height: 28px;
        line-height: 28px;
        width: 8rem;
        text-align: center;
    }

    .btn.new.mobile {
        display: none;
    }

.menu.icon {
    cursor: pointer;
    color: var(--primary-text-color);
}

.buttons {
    text-align: right;
    margin-top: 4rem;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .footer .buttons {
        margin: 0;
    }

ul.tag-directory {
    background: var(--background-color);
    width: 50%;
    height: 100%;
    text-align: right;
    padding: 2rem;
    line-height: 1.5;
    list-style-type: none;
}

    ul.tag-directory a {
        color: var(--link-color);
        text-decoration: none;
    }

.tag-dropdown-icon-container {
    display: none;
    justify-content: center;
    align-items: center;
}

    .tag-dropdown-icon-container > .menu.icon {
        margin-left: 0.5rem;
        font-weight: 100;
    }

    .tag-dropdown-icon-container > .current-tag {
        color: var(--link-color);
        cursor: default;
    }

@media only screen and (max-width: 600px) {
    nav.navbar > .container {
        padding: 1rem;
    }

    nav.navbar-secondary > .container {
        padding: 0.5rem 1rem;
    }

    main.dashboard .post-directory .post-preview,
    main.post-detail,
    main.new-post,
    main.delete-confirmation {
        padding: 1rem;
    }

    ul.tag-directory {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        padding: 1rem;
    }

    .tag-dropdown-icon-container {
        position: absolute;
        right: 0.5rem;
        display: flex;
    }

    .btn.new.desktop {
        display: none;
    }

    .btn.new.mobile {
        display: block;
        background: var(--primary-button-color);
        position: fixed;
        border-radius: 50%;
        bottom: 1rem;
        right: 1rem;
        height: 3rem;
        line-height: 4rem;
        width: 3rem;
        text-align: center;
    }
}

#word_counter {
    font-style: italic;
    font-size: 0.85rem;
}