{% extends 'base.html' %}

{% block nav-items %}

    <a class="btn new" href="{% url 'new-post' %}">New Post</a>

{% endblock nav-items %}

{% block content %}
    <main class="dashboard">
        <div class="tag-directory">
            {% for tag in tags %}
                <small class="tag">
                    <a href="{% url 'filter-by-tag' tag %}">
                    #{{ tag }}
                    </a>
                </small>
            {% endfor %}
        </div>
        <div class="post-directory">
            {% for post in posts %}
                <a class="post-preview" href="{% url 'view-post' post.slug %}">
                    <p class="title">{{ post.title }}</p>
                    {% if post.is_updated %}
                        <small class="updated">
                            Updated on {{ post.date_updated }}
                        </small>
                    {% else %}
                        <small class="published">
                            Published on {{ post.date_created }}
                        </small>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </main>
{% endblock content %}