{% extends 'base.html' %}

{% block nav-items %}

    <a class="btn new desktop" href="{% url 'new-post' %}">
        New Post
    </a>

{% endblock nav-items %}

{% block content %}
    <main class="dashboard container">
        <div class="post-directory">
            {% for post in posts %}
                <a class="post-preview" href="{% url 'view-post' post.slug %}">
                    <p class="title">{{ post.title }}</p>
                    {% if post.is_updated %}
                        <small class="updated">
                            Updated on {{ post.date_updated }}
                        </small>
                    {% else %}
                        <small class="published">
                            Published on {{ post.date_created }}
                        </small>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <ul class="tag-directory">
            <li>
                <a href="{% url 'home' %}">#all</a>
            </li>
            {% for tag in tags %}
            <li>
                <a href="{% url 'filter-by-tag' tag %}">#{{ tag }}</li></a>
            {% endfor %}
        </ul>
        <a class="btn new mobile" href="{% url 'new-post' %}">
            <span class="material-symbols-outlined">edit</span>
        </a>
    </main>
{% endblock content %}

{% block menu %}

    <div class="tag-dropdown-icon-container">
        <span class="current-tag">#{{ tag }}</span>
        <span class="menu icon material-symbols-outlined">keyboard_arrow_down</span>
    </div>

{% endblock menu%}