{% extends 'base.html' %}

{% block content %}
    
<main class="new-post container">
    <form class="form" id="postForm" method="POST">
        {% csrf_token %}
        
        {% for field in form.visible_fields %}
            {% if field.name == 'body' %}
                <div class="grow-wrap">{{ field }}</div>
            {% else %}
                {{ field }}
            {% endif %}
        {% endfor %}
        <div class="footer">
            <span id="word_counter">Word Count: 0</span>
            <div class="buttons">
                <button class="btn publish" type="submit" form="postForm">Publish</button>
            </div>
        </div>
    </form>
</main>
    
{% endblock %}
