{% extends 'base.html' %}

{% block nav-items %}

    <a class="btn" href="{% url 'new-post' %}">New Post</a>

{% endblock nav-items %}

{% block content %}
    <div class="home-content">
        <div class="tag-list">
            {% for tag in tags %}
                <small>
                    <a class="tag" href="{% url 'filter-by-tag' tag %}">
                    #{{ tag }}
                    </a>
                </small>
            {% endfor %}
        </div>
        <div class="post-directory">
            {% for post in posts %}
                <a class="post-preview" href="{% url 'view-post' post.slug %}">
                    <p>{{ post.title }}</p>
                    {% if post.is_updated %}
                        <small>Updated on {{ post.date_updated }}</small>
                    {% else %}
                        <small>Published on {{ post.date_created }}</small>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}