{% extends 'base.html' %}
{% load markdown_extras %}

{% block content %}

    <main class="post-detail container">
        <header>
            <h2 class="title">{{ post.title }}</h2>
            <small class="published">Published on {{ post.date_created }}</small>
            {% if post.is_updated %}
            <small class="updated">Updated on {{ post.date_updated }}</small>
            {% endif %}
            <div class="tags">
                {% for tag in post.tags %}
                    <small class="tag">
                        <a href="{% url 'filter-by-tag' tag %}">
                            #{{ tag }}
                        </a>
                    </small>
                {% endfor %}
            </div>
        </header>
        <main class="markdown-body">
            <p>{{ post.body | markdown | safe }}</p>
        </main>
        <div class="buttons">
            <a class="btn edit" href="{% url 'edit-post' post.id %}">Edit</a>
            <a class="btn delete" href="{% url 'delete-post' post.id %}">Delete</a>
        </div>
    </main>

{% endblock content %}